body {
    font-family: 'Roboto', 'Raleway', sans-serif;  
    color: #212121;
    background-color: #F5F5F5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

 /* HEADER  */
header {
    display: flex;
    width: 1600px; 
    height: 80px;
    background-color: #FFF;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #212121;

}
a:hover, a:active, a:focus {
    color: #2196F3;
}

button {
    border: none;
    cursor: pointer;
}

.logo {
    margin: 24px 93px 25px 215px; 
    /* width: 145px; */
    height: 31px;   
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #000000;
}
.web-word {
    color: #2196F3;
}

.navigation {
    display: flex;
    margin: 32px 344px 32px 0px;
    /* width: 281px; */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.portfolio-link {
    margin-left: 50px;
}
.contacts-link {
    margin-left: 50px;
}


.contacts {
    display: flex;
    margin: 32px 215px 32px 0;
    /* width: 307px; */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.phone-number {
    margin-left: 50px;
}

/* ШАПКА */
.button-field {
    width: 1600px;
    height: 600px; 
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

h1 {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}

.order-button {
    width: 216px;
    height: 50px;
    margin: 30px 692px 0 692px;
    background-color: #2196F3;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* ОСОБЛИВОСТІ */

.advantages {
    width: 1600px;
    height: 286px;
    padding: 94px 215px;
    background-color: #FFF;
}

.advantages-list {
    display: flex;
}

.advantages-list > li {
    width: 270px;
    margin-right: 30px;
    max-height: 98px;
}

.advantages-list:last-child {
    margin-right: 0;
}

.list-point {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.list-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ЧИМ МИ ЗАЙМАЄМОСЬ */

.work {
    width: 1600px;
    height: 480px;
    /* margin: auto; */
    background-color: #FFF;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto 50px auto;
}

.work-images {
display: flex;
margin: 0 215px;
}
.work-images > li {
    margin-right: 30px;
}
.work-images:last-child {
    margin-right: 0;
}


/* НАША КОМАНДА */

.team {
    width: 1600px;
    height: 648px;
    background-color: #F5F4FA;
    padding-top: 94px;
}

.team-members {
    margin: 0 215px;
    display: flex;
}

.team-members > li {
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-members > li {
    margin-right: 30px;
}

.team-members:last-child {
    margin-right: 0;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    }

.speciality {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* НИЖНІЙ КОЛОНТИТУЛ */

footer {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-left: 215px;
}
.logo-footer {
    height: 31px;   
    font-size: 26px;
    line-height: 1.19;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #FFF;
}

.address-list {
    margin-top: 20px;
}

.address-item {
    display: block;
    margin-bottom: 9px;
}

.map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.tel , .mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* PORTFOLIO  */

.portfolio-body {
    background-color: #FFF;
    width: 1600px;
    font-family: 'Roboto', 'Raleway', sans-serif;  
    color: #212121;
}

.portfolio-main {
    margin: 94px 215px;
}

/* FILTER  */
.filter-list {
    margin-left: 297px;
    margin-bottom: 50px;
}

.filter-item {
    margin-right: 8px;
}

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    height: 38px;
    padding: 6px 22px;
}

.filter:hover,
.filter:active,
.filter:focus {
    background-color: #2196F3;
    color: #FFF;
}

.projects {
display: inline-table;
}

.project-item {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-color: #EEEEEE;
    border-width: 1px;
    border-color: #EEEEEE;
    border-style: solid;
}
.project-item:nth-child(3n+3) {
    margin-right: 0;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-left: 24px;
}

.project-type {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
}
